# =========================================================================== #
# TEMP EXCLUDES
# --------------------------------------------------------------------------- #
notes.md
# =========================================================================== #

# =========================================================================== #
# Crazy Windows
# --------------------------------------------------------------------------- #
desktop.ini
# =========================================================================== #

# =========================================================================== #
# Sublime workspace
# --------------------------------------------------------------------------- #
*.configs
# =========================================================================== #

# =========================================================================== #
# Dependency directories
# --------------------------------------------------------------------------- #
node_modules/*
# =========================================================================== #

# =========================================================================== #
# Private tools
# --------------------------------------------------------------------------- #
_debug_test/*
# =========================================================================== #
